//HEADER STYLES
.header {
  height: 100vh;

  @media (orientation: landscape) and (max-width: $md) {
    height: 130vh;
  }

  background: {
    image: url(../images/header__bg.jpg);
    size: cover;
    position: left;
    repeat: no-repeat;
  }

  color: #fff;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 265px;

    &__navigation::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: firebrick;
      z-index: 2;
    }

    @media (orientation: portrait) {
      margin-bottom: 200px;
    }

    @media (orientation: landscape) {
      margin-bottom: 135px;
    }
  }

  &__upwear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0px 20px;
    transition: 0.5s;

    @media (max-width: 900px) {
      position: fixed;
      z-index: 2;
      width: 100%;
      top: 0px;
      left: 0px;
    }

    &.active {
      background-color: #ac1e0c;
    }
  }

  &__nav {
    padding-top: 25px;
  }

  &__burger {
    display: none;
  }

  &__content {
    text-align: center;

    @media (min-width: $lg) {
      padding-top: 150px;
    }
  }

  &__name {
    margin-bottom: 33px;

    font: {
      family: $robo;
      size: 48px;
    }
    line-height: 42px;

    @media (max-width: $md) {
      font-size: 42px;
    }

    text-transform: uppercase;
  }

  &__sign {
    margin-bottom: 50px;
    font-size: 20px;
  }

  &__link {
    display: inline-block;
    padding: 18px 35px;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  &__inner {
    position: absolute;
    left: 50%;
    bottom: 30px;
    cursor: pointer;
  }

  &__arrow {
    position: relative;
    display: inline-block;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
    animation: arrowAnimation 1.3s infinite;
  }
}

.logo {
  position: relative;
  z-index: 2;
  padding-left: 30px;

  &__img {
    display: block;

    font: {
      size: 24px;
      weight: 700;
    }

    line-height: 36px;
  }

  &__img::first-letter {
    text-transform: uppercase;
  }
}

.menu {
  display: flex;
  position: relative;
  z-index: 2;

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    
    letter-spacing: 0.35px;
    @media (max-width: $md) {
      font-size: 32px;
    }
  }

  &__link::first-letter {
    text-transform: uppercase;
  }

  &__item {
    margin-right: 35px;
  }

  &__item:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 900px) {

  .header {
    &__nav {
      padding: 100px 0px 0px 0px;
    }
  }

  .burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
    margin-right: 30px;

    &__line {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: 0.3s ease;

      &:first-child {
        top: 0px;
      }

      &:nth-child(2) {
        top: 48%;
      }

      &:last-child {
        bottom: 0px;
      }
    }

  }

  .nav {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    overflow: auto;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: #b83b2b;
      opacity: 0.8;

      @media (orientation: landscape) {
        height: 150%;
      }
    }

    &.active {
      left: 0px;
    }

  }

  .menu {
    display: block;
    
    @media (orientation: portrait) {
      margin-top: 25px;
    }

    &__item {
      margin: 0px 0px 15px 0px;
      padding-left: 30px;
    }

  }

  .animation-burger__first {
    border-radius: 10px;
    height: 4px;
    top: 8px !important;
    transform: rotate(45deg);
  }

  .animation-burger__second {
    position: absolute;
    transform: scale(0);
  }

  .animation-burger__third {
    border-radius: 10px;
    height: 4px;
    bottom: 7px !important;
    transform: rotate(-45deg);
  }
}